* {
  box-sizing: border-box;
}
.Main {
  height: 100%;
}

.Contents {
  margin-top: 50px;
  padding: 20px;
  height: 100vh;
  background: #f9f8f8;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

.Left {
  z-index: 1;
  top: 10px;
  left: 80px;
  width: 700px;
}

.article {
  z-index: 1;
  border: solid 2px rgb(220, 218, 221);
  width: 540px;
  margin: 10px auto;
}
