.Comment {
  width: 540px;
  height: 100%;
  padding: 0px 10px 10px 10px;

  // border: 2px solid #dbdbdb;
  margin: auto;
}

.Comment form {
  display: flex;
  align-items: center;
}

.Comment form .emotion {
  width: 5%;
  height: 20px;
}

.Comment form .emotion i {
  font-size: 20px;
}

.Comment form input {
  width: 85%;
  height: 30px;
  // outline: none;
  outline-color: rgb(112, 153, 236);
  margin-right: 5px;
  border: solid 1px rgb(95, 93, 93);
  resize: none;
  line-height: 25px;
  text-indent: 5px;
}

.Comment form button {
  width: 10%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #0095f6;
  border-radius: 3px;
}

.Comment form [type='submit']:disabled {
  background-color: #cbddf7;
}

.CommentList .article-bold {
  font-weight: bold;
  margin-right: 10px;
}
