.container {
  border: 1px solid rgb(201, 200, 200);
  text-align: center;
  margin-top: 120px;
  margin-left: 30%;
  width: 500px;
  height: 530px;
}

.containerBox {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 40px;
}

.login_id {
  background-color: rgba(247, 244, 244, 0.623);
  color: rgb(116, 113, 113);
  width: 400px;
  height: 40px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(223, 221, 221);
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.password {
  background-color: rgba(247, 244, 244, 0.623);
  color: rgb(116, 113, 113);
  width: 400px;
  height: 40px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 10px;
  margin-bottom: 20px;
}

.login_btn {
  background-color: #ccdffeb3;
  color: white;
  width: 400px;
  height: 40px;
  padding: 10px 40px;
  box-sizing: border-box;
  margin-bottom: 90px;
  border-radius: 10px;
  border: none;
}

.active {
  background-color: rgba(130, 161, 255, 0.909);
}

.passwordForgot {
  color: rgba(16, 16, 74, 0.792);
  margin-bottom: 20px;
}

.signIn {
  color: rgba(130, 161, 255, 0.909);
  background: transparent;
  border: none;
}

.signText {
  margin-top: 70px;
  font-size: 30px;
  font-weight: bold;
}
