.CommentList {
  padding: 5px;
  width: 100%;
}

.CommentListBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.CommentLeft {
  display: flex;
}

.userName {
  font-weight: bold;
  margin-right: 10px;
}

// .CommentRight {
//   display: flex;
// }

.CommentRight i {
  margin-left: 10px;
  font-size: 90%;
}

.likebtn {
  all: unset;
}

.trashbtn {
  all: unset;
}
